* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("foddi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav {
  background-color: white;
}
.section {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.section ul li a {
  text-decoration: none;
}

#div {
  display: grid;
  margin: 190px 10px;
  justify-content: center;
  color: azure;
  gap: 10px;
}

.btn {
  display: flex;
  width: 70px;
  background-color: azure;
  padding: 3px;
  border-radius: 8px;
}

.btn:hover {
  background-color: blue;
}

img {
  width: 70px;
  border-style: unset;
}
.section img {
  display: flex;
  margin: 0 4px;
}
.sec {
  display: flex;
  align-items: center;
}

#uk {
  display: flex;
  align-items: center;
}

.foot {
  color: aliceblue;
  display: flex;
  justify-content: center;
  margin: 150px;
}
